<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Paginas para el recuerdo...</h1>
            <h3 class="mb-5">
                <em>Guarda tus Links Favoritos</em>

            </h3>
            <a href="/signin" class="btn btn-primary">
            COMIENZA!</a>
        </div>
    </header>
</main>